/* Customize the navbar links to be fill the entire space of the .navbar */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.pebblescontainer {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.pebblescontainer img {vertical-align: middle;}

.pebblescontainer .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    color:blueviolet;
    font-size: large;
    padding: 5px 20px;
    
        
}

.centreimage{
  text-align:center;
  display:block;

}

