{% extends 'base.html' %}
{% block content %} 
<body>
    <div class="container-fluid">
        <div class="row text-lg-left">
            
            <h2 class="centre">Managing lots of paper work!</h2>
            <h3>Paper work is a big part of a teacher's workload
             so here are some tips for making paper work easier to manage</h3>

                                      
            <section>

                <img src="../static/paperzones.jpg" class="imageborder center" alt="picture of zones">

                <h2>Creating zones</h2>
                <p class="sectiontext">Create a space for every piece of paper that comes your way 
                    so that you know where everything is and can find it quickly. 
                    So set up some zones or specific spaces for particular activities
                    that can be done in each space you set up. Now you need to decide on the type 
                    of organisation you need.  Do you want piles of paper with things hidden
                    in each neat pile or do you want paper spread out in an area? </p>
                <br>
                <p class="sectiontext">Once you have decided on how you want your zones to look 
                    plan out your zones and set them up.  So you could have a zone for incoming
                    student work, one for lesson planning, another one for keeping records on each
                    student in each of your classes and so on.  If you like to keep all your
                    records electronically then you could have a folder for each class and inside
                    that a folder for each student, and inside each student's folder you could have 
                    a folder for classwork, set homework and completed and marked homework.
                    There are lots of choices but you do need to plan your zones first so that 
                    they are useful for you, before you create them. </p>
            
            </section>

        
            <section>

                <img src="../static/planning.jpg" class="imageborder center" alt="picture of zones">
                <h2>Planning ahead each day</h2>
                <p class="sectiontext">It really helps to plan the next days' lessons the day before.  That way
                    you will know exactly what you want to teach a student or set of students 
                    before you teach them!  Sounds simple but sometimes it is tempting to 
                    teach things as you go along with only a very basic idea in your head of
                    how to teach!  I have found that a simple spreadsheet with columns for 
                    each aspect of the lesson can be useful.  Click <a href="#" here></a> for an example
                    You will need to find or create a plan of work for each class or learner
                    before creating your spreadsheet or alternatively writing up each lesson
                    in a planner so it helps to read the plan of work carefully so that you
                    always know what needs to be taught for each lesson over a period of time.</p>   
                    
            </section>

            <section>
                <img src="../static/system.jpg" class="imageborder center" alt="picture of zones">
                <h2>Work out a system</h2>
                <p class="sectiontext">Put together a system that works for you each day.
                    For instance you might want to do your lesson planning first, followed by
                    marking homework and updating results, or you could update homework on 
                    the spreadsheet model or mark book next.  Then finally you could do 
                    some reflection and evaluation of your lessons and look to see what 
                    worked and didn't work with particular classes or students.  Finally it
                    really important to put in a set amount of time for keeping up to 
                    date with latest teaching models and techniques.</p>   
                    
            </section>



        </div>
    </div>
</body>

{% endblock %}