{% extends 'base.html' %}
{% block content %} 

<div class="container-fluid">
    <div class="row text-lg-left">
        
        <h2 class="centre">Ideas on good teaching practice</h2>
        <h3>Teaching well requires lots of hard work, practice and 
         skills and knowledge that change quickly.  Here are my thoughts
        on teaching well.  If you have any comments or suggestions please  
        contact me using the contact form.  Thank you.</h3>

                                  
        <section>

            <p>8th September 2021</p>

            <img src="../static/teachingideas.jpg" class="imageborder center" alt="picture of zones">

            <h2>Creating zones</h2>
            <p class="sectiontext">Good teachers are lifelong learners!</p>
            <br>
            <p class="sectiontext">Teachers hope to inspire a love of learning in their
                students so leading by example is a good way to go about this, so good teachers 
                regularly keep up to date with good teaching practice and the latest research on
                methods of teaching.  They also work on their communication skills regularly, 
                updating their ideas about the best ways to engage and inspire all students to
                do their best.
             </p>
        
        </section>













{% endblock %}